body {
  font: 100% / 24px Arial;
  background: $color1;
  color: $color5 ;
  border-top: 8px solid $color4 ;
}

#main{
  padding-top: 20px ;
  padding-bottom: 20px ;
  @media (min-width: 992px) {
    padding-top: 60px ;
    padding-bottom: 60px ;
  }
}