header{
  figure{
    margin: 0 0 20px 0 ;
    figcaption{
      font-size: 140% ;
      letter-spacing: 2px ;
      a{
        display: block ;
        color: $grey ;
        font-size: 60% ;
        letter-spacing: 1px ;
        font-family: $font2 ;
        
      }
    }
  }
  ul{
    &.list-inline{
      margin: 10px ;
      li{
        .fa-search{
          margin-right: 5px ;
        }
        img{
          vertical-align: middle ;
        }
        a{
          color: $color2 ;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header{
    figure{
      position: relative ;
      top: -20px ;
      margin-bottom: 0 ;
    }
  }
}