#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 240px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 46px;
  z-index: 1001;
  background: $color3;
}

aside {
  z-index: 1000;
  position: fixed;
  padding-top: 46px;
  left: 240px;
  width: 0;
  height: 100%;
  margin-left: -240px;
  overflow-y: auto;
  background: $color2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled aside {
  width: 250px;
}

#content {
  width: 100%;
  position: absolute;
  padding: 46px 0;
}

#wrapper.toggled #content {
  position: absolute;
  margin-right: -240px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 50px;
  }

  #content {
    padding-right: 50px;
  }

  aside {
    width: 50px;
  }
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 240px;

    &.toggled {
      padding-left: 50px;
    }
  }

  aside {
    width: 240px;
  }

  #wrapper.toggled aside {
    width: 50px;
  }

  #content {
    padding: 46px 0 0;
    position: relative;
  }

  #wrapper.toggled #content {
    position: relative;
    margin-right: 0;
  }
}
