nav{
  margin-bottom: 30px ;
  ul{
    background: $blue ;
    li{
      a{
        color: #fff ;
        text-decoration: none ;
        display: inline-block ;
        line-height: 50px ;
      }
    }
  }
  form{
    background: $color4 ;
    p{
      color: $color5 ;
      line-height: 50px ;
    }
  }
}