body.BasketController-index{
  .subtotal{
    strong{
      color: $red ;
      font-size: 120% ;
    }
  }
  .btn-checkout{
    margin-top: 50px ;
    padding: 15px 50px ;
    font-size: 120% ;
  }
}