// color pallette
$color1:              #ffffff ;
$color2:              #31343C ;
$color3:              #36A9E1 ;
$color4:              #f4f4f4 ;
$color5:              #4d4d4d ;
$green:               #99C83D ; 
$orange:              #FABB3D ;
$red:                 #b12704 ;
$blue:                #385667 ;
$grey:                #a4a4a4 ;

// fonts
$font1:               'Helvetica Neue', Helvetica, Arial, sans-serif;
$font2:               Courier, Georgia, 'Times New Roman',  Serif;