// color pallette
$color1:              #f5f5f5 ;
$color2:              #32323A ;
$color3:              #36A9E1 ;
$green:               #99C83D ;
$orange:              #FABB3D ;
$red:                 #FF5454 ;
$blue:                #36A9E1 ;