// color pallette
$color1:              #ffffff ;
$color2:              #32323A ;
$color3:              #36A9E1 ;
$color4:              #e5e5e5 ;
$color5:              #4d4d4d ;
$green:               #99C83D ;
$orange:              #FABB3D ;
$red:                 #FF5454 ;
$blue:                #36A9E1 ;