h1,
h2,
h3{
  line-height: 40px ;
  font-weight: bold ;
}

.content{
  p,
  ul,
  ol{
    margin: 0 0 15px 0 ;
  }
  ul,
  ol{
    margin-left: 20px ;
  }
  ul{
    li{
      list-style: disc ;
    }
  }
  ol{
    li{
      list-style: decimal ;
    }
  }
  strong{
    font-weight: bold ;
  }
}