header {
  
  select{
    height: 24px !important ;
    font-size: 100% !important ;
    display: inline !important ;
  }
  a{
    color: #fff ;
  }
  ol {
    display: inline-block;
    padding: 0 10px;
    position: relative;

    ol {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
    }

    > li {
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  ul {
    position: absolute;
    top: 0;
    right: 0px; 

    li {
      display: block;
      float: left;
      color: #fff;
      &:first-of-type{
        margin-right: 10px ;
      }
      a {
        display: block;
        color: #fff;
        padding: 0 15px;
        font-size: 120% ;
      }
      form{
        .btn-link{
          color: #fff ;
          &:hover{
            color: #fff ;
          }
        }
      }
    }
  }

  #menu-toggle {
    display: inline-block;
    width: 50px;
    text-align: center;
    border-right: 1px solid lighten($color3, 10%);
    color: #fff;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0px;
      bottom: 0;
      width: 1px;
      background: darken($color3, 10%) ;
    }
  }
}
