body.categories{
  ol.sortable{
    width: 100% ;
    li{
      line-height: 40px ;
      margin: 5px 0 ;
      div{
        border: none ;
        background: none ;
        border-radius: 0 ;
        //margin: 0 0 5px 0 ;
      }
      a{
        color: #fff ;
        padding: 0 10px ;
        display: block ;
        background: $color3 ;
        &:hover{
          text-decoration: none ;
          background: darken($color3, 10%) ;
        }
      }
    } 
  }
}