.nav-tabs{
  border-color: darken($color1, 5%);
  > li{
    &.active{
      > a,
      > a:focus{
        border-color: darken($color1, 5%);
        border-bottom-color: transparent ;
        border-radius: 0 ;
      }
    }
  }
}

.tab-pane{
  padding: 20px ;
  border: 1px solid darken($color1, 5%);
  border-top: 0 ;
  background: #fff ;
}