table {
  width: 100%;
  margin-bottom: 20px;

  td {
    padding: 10px;
  }

  thead {
    th {
      background: #219FDD;
      border: 1px solid #1E8FC6;
      color: #fff;
      border-bottom-width: 1px !important ;
      a {
        display: block;
        position: relative;
        padding: 5px;
        color: #fff;
        &:hover {
          color: #fff;
          background: #1E8FC6;
        }
        &:after {
          content: "\f0d9\20\f0da"; 
          font-family: FontAwesome; 
          position: absolute;
          top: 5px;
          right: 10px;
        }
        &.order-asc{
          &:after {
            content: "\f0d8"; 
          }
        }
        &.order-desc{
          &:after {
            content: "\f0d7"; 
          }
        }
      }
    }
  }

  tbody {
    td {
      background: #fff;
      border: 1px solid #e4e4e4;
      vertical-align: top;
    }

    tr {
      &:nth-of-type(odd) {
        td {
          background: #fafafa;
        }
      }
    }

    tr {
      td {
        &.green {
          background: #99C83D;
        }

        &.amber {
          background: #FABB3D;
        }

        &.red {
          background: #FF5454;
        }
      }
    }
  }

  tfoot {
    td {
      background: #fff;
      border: 1px solid #e4e4e4;
    }
  }
}
