.btn {
  &.btn-primary{
    background: $color3 ;
    border-color: $color3 ;
    &:hover{
      background: darken($color3, 10%) ;
      border-color: darken($color3, 10%) ;
    }
  }
  &.btn-success{
    background: $green ;
    border-color: $green ;
    &:hover{
      background: darken($green, 10%) ;
      border-color: darken($green, 10%) ;
    }
  }
  &.btn-warning{
    background: $orange ;
    border-color: $orange ;
    &:hover{
      background: darken($orange, 10%) ; 
      border-color: darken($orange, 10%) ;
    }
  }
  &.btn-danger{
    background: $red ; 
    border-color: $red ;
    &:hover{
      background: darken($red, 10%) ;
      border-color: darken($red, 10%) ;
    }
  }
}
