.dates {
  input {
    padding: 0;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e4e4e4;
  }

  i {
    background: #e4e4e4;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
  }
}
