body.ProductsController-index,
body.CategoriesController-show,
body.ProductsController-search{
  #main{
    ul{
      li{
        p{
          margin-bottom: 5px ; 
          &:last-of-type{
            strong{
              color: $red ;
            }
          }    
          &:nth-last-of-type(2){
            strong{
              color: $orange ;
            }
          }  
          &:nth-last-of-type(3){
            strong{
              color: lighten($green, 10%) ;
            }
          }  
        }
        .btn{
          margin-top: 5px ;
        }
      }
    }
  }
}