body.BlogController-index{
  #main{
    padding-bottom: 0 ;
    ul{
      li{
        margin-bottom: 60px ;
        h2{
          line-height: 24px ;
        }
        img{
          margin-top: 2px ;
        }
        p{
          margin-top: 10px ;
        }
      }
    }
  }
}